
footer{
  display:flex;
  align-items:center;
  text-align:center;
}
footer > p{
  flex:1;
}

.form{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.formChild{
  margin:1em;
  flex:1;
  /* background-color:red; */
}
