
footer{
  display:flex;
  align-items:center;
  text-align:center;
}
footer > p{
  flex:1;
}

.container{
  display:flex;
}

.item{
  background-color:coral;
  margin:1em;
  align-items:center;
  justify-content:center;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav ul li {
  float: left;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}


.topnav .icon {
  display: none;
}

.subnav {
  float: left;
  overflow: hidden;
}


.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: black;
}


.subnav-content {
  display: none;
  position: absolute;
  background-color: red;
  width: 10%;
  z-index: 1;
}


.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}


.subnav-content a:hover {
  background-color: #eee;
  color: black;
}


.subnav:hover .subnav-content {
  display: grid;
}